mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7e81a1;
}

.logo {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 30px;
  height: 180px; /* Ajustez la taille selon vos besoins */
  margin-right: 15px;
}




button:hover {
  background: rgba(255, 255, 255, 0.1);
}


.spacer {
  flex: 1 1 auto;
}
