<div class="login-container">
  <mat-card class="login-card">
    <div class="login-header">
      <mat-icon style="font-size: 120px; height: 120px; width: 200px">account_circle</mat-icon>
      <h1>Welcome Back !</h1>
      <p>Ravie de vous revoir !</p>
    </div>
    <div class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <a href="#" class="forgot-password" style="text-align: center">Mot de passe oublié ?</a>
      <button mat-raised-button style="background-color: black; color: white" class="full-width">Connexion</button>
      <p class="sign-up" style="color: black">Je n'ai pas de compte ? <a href="#" >Je m'inscris</a></p>
    </div>
  </mat-card>
</div>
