.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 400px;
  padding: 2rem;
  text-align: center;
}

.login-header {
  margin-bottom: 2rem;
}

.login-icon {
  font-size: 4rem;
  color: #3f51b5;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.forgot-password {
  display: block;
  margin-bottom: 2rem;
  text-align: right;
  text-decoration: none;
  color: #3f51b5;
}

.sign-up {
  margin-top: 2rem;
}

.sign-up a {
  text-decoration: none;
  color: #3f51b5;
}
